<!DOCTYPE html>
<html>
  <head>
    <title>CrowdChat</title>

    <!-- <meta name="viewport" content="width=device-width, user-scalable=no" /> -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />

    <link rel='stylesheet' href='stylesheets/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='stylesheets/crowd-surf.css' />

  </head>
  <body>

    <div class="row top-bar">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row text-center">
          <img class="top-bar-logo" src="/images/logo.png" />
          <button type="submit" id="crowd-surf-start-button"class="btn btn-primary btn-sm pull-right submit-button" onclick="startSim()">START</button>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <center>
              <div id="crowd-surf-map-canvas"></div>
            </center>
          </div>
      </div>
    </div>


    <!-- jquery -->
    <script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/underscore.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="javascripts/bootstrap/bootstrap.js"></script>
    
    <!-- angular app and controllers -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOnpZgn-7iSwcokSBUF8qM-BC2kbrC-v8">
    </script>

    <script type="text/javascript" src="javascripts/crowd-surf/initialize_map.js"></script>
    <script type="text/javascript" src="javascripts/crowd-surf/helpers.js"></script>
    <script type="text/javascript" src="javascripts/crowd-surf/entities.js"></script>

    <script type="text/javascript">

      var all_crowds = [];
      var default_radius = 0.09144;

      var user, crowd;

      function startSim () {

        user = createNewPerson();
        crowd = findCrowdForUser(user);
        crowd = mergeCrowds(crowd);

        setTimeout(function () {
          startSim();
        }, 100)

        return true;


      }  



    </script>
  <body>
</html>
