<!DOCTYPE html>
<html ng-app="angular_app">
  <head>
    <title>CrowdChat</title>

    <!-- <meta name="viewport" content="width=device-width, user-scalable=no" /> -->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />

    <link rel='stylesheet' href='stylesheets/bootstrap/bootstrap.css' />
    <!-- <link rel='stylesheet' href='stylesheets/style.css' /> -->

  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-0"></div>
            <div class="col-md-6 col-sm-8 col-xs-12">TEST</div>
            <div class="col-md-3 col-sm-2 col-xs-0"></div>
        </div>
    </div>


    <!-- jquery -->
    <script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="javascripts/bootstrap/bootstrap.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="javascripts/angular.js"></script>
    <script type="text/javascript" src="javascripts/angular-route.js"></script>
    <!-- socket.io -->
    
    <!-- angular app and controllers -->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOnpZgn-7iSwcokSBUF8qM-BC2kbrC-v8">
    </script>


  <body>
</html>
