<div class="row top-bar">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <center>
      <div class="row">
        <img class="top-bar-logo" src="/images/logo.png" />
      </div>
    </center>
  </div>
</div>




<div class="row">

  <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown">
        {{tab}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-item text-center" ng-click="tab='users'">Users</li>
        <li class="divider"></li>
        <li class="dropdown-item text-center" ng-click="tab='messages'">Messages</li>
        <li class="divider"></li>
        <li class="dropdown-item text-center" ng-click="tab='map'">Map</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
    <h4>Crowd Size: {{ users.length }}</h4>
  </div>

</div>

<div class="row" ng-show="tab === 'users'">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3><u>Users</u></h3>
    <div id="users-window">
      <h4 class="text-right" ng-repeat="user in users">{{user.name}}</h4>
    </div>
  </div>
</div>

<div class="row" ng-show="tab === 'messages'">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row scrollme">
      <div id="messages-window" class="col-md-12 col-sm-12 col-xs-12 no-padding">

        <div class="message" ng-repeat="message in messages">
          <h4 class="text-left">{{message.name}}</h4>
          <p>{{message.content}}</p>
        </div>

        <a id="bottom" ng-hide="true"></a>


      </div>
    </div>


    <div id="message-bar" class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form ng-submit"sendMessage()">
          <button type="submit" id="new-message-submit-button" class="btn btn-primary btn-xs pull-right submit-button" ng-click="sendMessage()">SEND</button>
          <input type="text" id="new-message-input" ng-model="new_message">
        </form>
      </div>
    </div>


  </div>
</div>

<div class="row" ng-show="tab === 'map'">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3><u>Map</u></h3>
    <div id="map-canvas"></div>
  </div>
</div>

