<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <center>
      <div class="row">
        <img id="logo-image" src="/images/splash-image-red-small.png" />
      </div>
      <div class="row">
        <img id="brand-image-alone-found" src="/images/splash-logo.png" />
      </div>
      <h4>Is there something going on?!</h4>
      <h5>Joining crowd now</h5>
      <button type="submit" id="no-thanks-submit-button" class="btn btn-danger btn-lg active" ng-click="clearInfo()">NO THANKS</button>
    </center>
  </div>
</div>
