<div class="row top-bar">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <center>
      <div class="row">
        <img class="top-bar-logo" src="/images/logo.png" />
      </div>
    </center>
  </div>
</div>


<div class="row" ng-show="step === 'asking_name'">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3 class="text-center">What is your name?</h3>
    <form ng-submit="setName() && getLocation()">
      <input type="text" id="name-input" class="text-center" placeholder="Name" ng-model="newName" focus="true">
      <br><br>
      <center>
        <button type="submit" class="btn btn-primary btn-lg btn-block submit-button" ng-click="setName() && getLocation()">SUBMIT</button>
      </center>
    </form>
  </div>
</div>



<div class="row" ng-show="step === 'getting_location'">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3>Hi {{newName}}!</h3>
    <h4>We are getting your location; turn on your location services if necessary.</h4>
  </div>
</div>



<div class="row" ng-show="step === 'displaying_map'">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <h4>{{newName}}, is this where you're at?</h4>
      <center>
        <div id="current-location-map-container" class="no-padding"></div>
      </center>
      <a href="#/home" class="btn btn-danger btn-lg pull-left submit-button">NO</a>
      <button type="submit" class="btn btn-success btn-lg pull-right submit-button" ng-click="sendInformation()" focus="true">YES</button>
  </div>
</div>













