<center>
  <img class="logo-image" src="/images/logo.jpeg" />
  <h2><u><b>CrowdChat</b></u></h2>
  <br>
</center>



<div ng-show="step === 'asking_name'">
  <h5>What is your name?</h5>
  <input type="text" class="text-input" placeholder="Name" ng-model="newName" >
  <br><br>
  <center>
    <button type="submit" class="btn btn-primary btn-md" ng-click="setName() && getLocation()">SUBMIT</button>
  </center>
</div>



<div ng-show="step === 'getting_location'">
  <h5>Hi {{newName}}! We are getting your location; turn on your location services if necessary.</h5>
</div>



<div ng-show="step === 'displaying_map'">
  <h5>{{newName}}, is this where you're at?</h5>
  <center>
    <div id="current_location_map"></div>
  </center>
  <a href="#/home" class="btn btn-danger btn-md pull-left">NO</a>
  <button type="submit" id="location_submit" class="btn btn-success btn-md pull-right" ng-click="sendInformation()">YES</button>
</div>













