body {
  padding: 0px 0px 10px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btn.btn-lg {
  border-radius: 0.8em;
  font-size: 2em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  font-weight: bold;
}

/* home - begin */
#logo-image {
  width: 80%;
  max-width: 30em;
}
#brand {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}
#tag-line {
  font-size: 1.5em;
}
#hop-in-button {
  font-size: 3em;
  margin-top: 0.5em;
}
/* home - end */


/* join - begin */
#name-input {
  width: 100%;
}
#leave_submit {
  margin-top: 0.5em;
}
/* join - end */






/* crowd  - begin */
#users-window, #messages-window {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
  margin-bottom: 1em;
}

/* crowd > users */


/* crowd > messages */
#new-message-submit-button { 
  font-weight: bold;
  height: 35px;
  width: 30%;
}
#new-message-input {
  width: 70%;
  font-size: 1em;
  line-height: 30px;
}


/* crowd > map */

/* crowd - end */