/* fonts */
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700);


/* global styles */
body {
  font: 14px "Cantarell", Helvetica, Arial, sans-serif;
  font-family: "Cantarell";
  padding: 0px 0px 0px 0px;
}
html, body {
  height: 100%;
}

a {
  color: #00B7FF;
}
.no-padding {
  padding: 0.01px;
}
.full-height {
  height: 100%;
}
#app-screen {
  border-left: 5px solid #eb4f41;
  border-right: 5px solid #eb4f41;
}


/* submit button */
.submit-button {
  background-color: white;
  border: 2px solid #eb4f41;
  box-shadow: 0px 2px 5px #191919;
  color: #eb4f41;
  font-weight: 700;
}
.submit-button:hover {
  border: none;
  background-color: #eb4f41;
  color: white;
}
.submit-button:active {
  border: none;
  background-color: #eb4f41;
  color: white;
}


/* text and input focus */
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
   border-color: rgba(235, 79, 65, 0.8);
   box-shadow: 0 1px 1px rgba(235, 79, 65, 0.075) inset, 0 0 8px rgba(235, 79, 65, 0.6);
   outline: 0 none;
}


/* home */
#logo-image {
  width: 300px;
  margin-top: 10px;
  max-width: 30em;
}
#brand-image-home {
  width: 250px;
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 30em;
}


/* join */
.top-bar {
  background-color: #eb4f41; 
  box-shadow: 0px 5px 5px #191919;
  height: 50px;
  margin-bottom: 20px;
}
.top-bar-logo {
  height: 25px;
  margin-top: 10px;
}
#name-input {
  margin-bottom: 150px;
  margin-top: 10px;
  width: 100%;
}
#current-location-map-container {
  border: 1px solid #eb4f41;
  height: 252px;
  margin-bottom: 10px;
  width: 252px;
}

/* alone */
#brand-image-alone-found {
  width: 250px;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 30em;
}
#no-thanks-submit-button {
  margin-top: 15px;
}




/* crowd */
.dropdown-toggle {
  width: 100px;
}
.dropdown-item {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.dropdown-menu {
  min-width: 100px !important;
}



#message-bar {
  position: relative;
  bottom: 0;
  background-color: #eb4f41;
  padding-top: 10px;
  padding-bottom: 10px;
}
#users-window, #messages-window {
  height: 302px;
  overflow-y: scroll;
  border-top: 2px solid #eb4f41;
  border-bottom: 2px solid #eb4f41;

}
.message {
  border-top: 1px solid #eb4f41;
  border-bottom: 1px solid #eb4f41;
  text-indent: 20px;
}
#new-message-input {
  width: 210px;
}
#new-message-submit-button { 
  height: 30px;
}




#map-canvas {
  height: 300px; 
  margin: 0; 
  padding: 0;
}
#map_canvas img { max-width: none; }
#map_canvas label { width: auto; display: inline; }