body {
  padding: 0px 0px 10px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* home */
#logo-image {
  width: 80%;
}
@media (min-width: 650px) {
   #logo-image {
    width: 10em;
  }
}
#tag-line {
  /*font-size: 5em;*/
  margin-top: 0.5em;
}
#hop-in-button {
  border-radius: 0.5em;
  font-size: 2em;
  margin-top: 1em;
  padding: 0.5em;
  font-weight: bold;
}



#name-input {
  width: 100%;
}

#new-message-input {
  width: 90%;
}

#users-window, #messages-window {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid black;
}

